*{
    box-sizing: border-box;
}

h1{
    font-size: 37px;
    color: rgb(8, 34, 97);
}

p{
    font-size: 17px;
    color: rgb(21, 135, 97);
}

a{
    color:blue;
}

.section{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;

}