*{
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

h1{
    font-size: 37px;
    color: rgb(8, 34, 97);
}

p{
    font-size: 17px;
    color: rgb(21, 135, 97);
}

a{
    color:rgb(10, 188, 212);
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
}

.nav-links {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.section{
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;

}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}